@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');
:root {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}

* {
    font-family: 'Poppins', sans-serif;
}

html {
    width: 100vw;
    height: 100vh;
}

body {
    width: 100%;
    height: 100%;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 300px;
    background-color: #4F4F4F;
    color: white;
}

.header-left {
    display: flex;
    align-items: center;
    font-size: 26px;
}

.currentPlace {
    margin-left: 20px;
    font-size: 75%;
}

.welcomePage {
    display: flex;
    height: 50%;
    width: 50%;
    margin: 100px auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px;
    border-radius: 25px;
    color: white;
}

.searchbar input {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    box-shadow: 1px 1px 3px black;
    margin-right: 10px;
}

.getWeather {
    background: linear-gradient(190deg, rgba(3,107,210,1) 0%, rgba(2,63,124,1) 100%);
    font-weight: 600;
    color: white;
}

.getWeather:hover {
    background: linear-gradient(190deg, rgba(3,107,210,0.8) 0%, rgba(2,63,124,0.8) 100%);
}

.getWeather:active {
    background: linear-gradient(190deg, rgba(3,107,210,0.6) 0%, rgba(2,63,124,0.6) 100%);

}
.hide {
    display: none;
}

.greeting {
    display: flex;
    flex-direction: column;
    margin-bottom: 75px;
    font-size: 60px;
    font-weight: 600;
}

.greeting > :nth-child(2) {
    margin-top: 20px;
    font-size: 75%;
    font-weight: 400;
}